<system.webServer>
	<modules runAllManagedModulesForAllRequests="false">
		<remove name="WebDAVModule" />
	</modules>

	<aspNetCore processPath="dotnet"
    arguments=".\MyApp.dll"
    stdoutLogEnabled="true"
    stdoutLogFile=".\logs\stdout"
    hostingModel="inprocess">
	</aspNetCore>
</system.webServer>